tbody, td {
			text-align: center;
			border: 1px solid black;
			font-style: italic;

	}
tbody tr:nth-child(even){
			
			background-color:#663300;
			color: white;
			}
			
tbody tr:nth-child(odd){
			
			background-color:#ffeecc;
			}
	
thead, th  {
			background-color: #b3b3cc;
			border: 1px solid black;
			}

table{
			width: 90%;
			margin-left: 70px;
			border: 1px solid black;
			border-collapse: collapse;
			}
		

h1, h2 {
			text-align:center;
			
		}
		
@font-face {
			font-family: myAlbumFont;
			src: url('../extras/maiden.ttf');
			}
			
/*
	.image { 
		
					background-image: url('duluthAlbum.jpg'); 
					height: 350px;
					width: 350px;
					margin-left: auto;
					margin-right: auto;
					background-size: 350px 350px;
					}
*/					

li {
					font-style: italic;
					font-size: 20px;
					}	
			
div.myFont{
					font-family: myAlbumFont;
					font-size: 22px;
					}
					
a:link {
					color: brown;
					text-decoration: none;
					}


a:visited {
					color: green;
					text-decoration: none; 
					}


a:hover {
					background-color: #ffdd99;
					text-decoration: underline;
					}	


a:active {
					color: blue;
					}
					
div.linkStyles{
					text-align: center;
					font-size: 25px;
					}
					
div.container-fuild  {
					font-family: 'myAlbumFont', monospace;
					 
					}
					
.img-circle {
					border-radius: 50%;
					display: block;
					margin:  auto;
					}
					
div.table-responsive{
					border: none;
					overflow-x: auto;
					}

		
