td {
			text-align: center;
			border: 1px solid black;
			background-color: #ffdd99;
			font-style: italic;

	}
	
th {
			background-color: #b3b3cc;
			border: 1px solid black;
			}

table{
			width: 90%;
			margin-left: 70px;
			border: 1px solid black;
			border-collapse: collapse;
			
			
		}
		
img.center {
			display: block;
			margin:  auto;
			}

h1 {
			text-align:center;
			
		}
		
@font-face {
			font-family: myAlbumFont;
			src: url(maiden.ttf);
			}
			
.image { 
		
					background-image: url('duluthAlbum.jpg'); 
					height: 350px;
					width: 350px;
					margin-left: auto;
					margin-right: auto;
					background-size: 350px 350px;
										
					}
		
