		
@font-face {
   font-family: myFirstFont;
   src: url('../fonts/americancaptain.otf');
}

nav a:link {
			color: #990000;
			text-decoration: underline;
				}


nav a:visited {
			color: gray;
			text-decoration: underline; 
					}


nav a:hover {
			text-decoration: underline;
			font-weight: bold;
					}	


nav a:active {
			color: black;
			text-decoration: none;
					}
					

div.header h2 {
			font-family: 'myFirstFont', sans-serif;
			font-size: 60px;
			color: gray;
			text-align: center;
			text-decoration: underline; 
					}
div.header h3 {
			font-family: 'myFirstFont', sans-serif;
			font-size: 60px;
			color: black;
			text-align: center;
					}

div.header nav {
			font-family: 'myFirstFont', sans-serif;
			font-size: 25px;
					}

div.footer p {
			font-family: 'myFirstFont', sans-serif;
			font-size: 27px;
			text-align: center;
			color: gray;
			text-decoration: underline;
					}
			