h1			 {
				text-align: center;
				padding-bottom: 20px;
				
				}

				
#gameResults h3			 {
				text-align: center;
				padding-bottom: 10px;
				font-family: Impact;
				}
#gameResults {
				margin-left: auto;
				margin-right: auto;
				width: 35%;
				text-align: center;
				padding: 10px;
				font-family: sans-serif;
					}
					
.container {		
				font-family: Impact;
				background-color: #33adff;
				
					}
			
				
.buttons 	{
				font-size: 25px;
				color: black;
				padding: 10px;
				}
				
p			{
				text-align: center;
				text-decoration: italic;
				font-size: 20px;
					}
label 		{	
				font-size: 22px;
					}