td {
			text-align: center;
			border: 1px solid black;

	}
	
th {
			background-color: grey;
			border: 1px solid black;
			}

table{
			width: 90%;
			margin-left: 70px;
			border: 1px solid black;
			
		}
		
img.center {
			display: block;
			margin:  auto;
			}

h1 {
			text-align:center;
			
		}
		
