header{
		text-align: center;
	
		}
h2 {
		font-family: myFirstFont;
		font-size: 50px;
			
		}

nav{ 
		text-align: left;
		word-spacing: 40px;
		padding-left: 45px;
		}

footer{
		text-align: center;
		padding: 1em;
		}
		
@font-face {
   font-family: myFirstFont;
   src: url(americancaptain.otf);
}
