header{
		text-align: center;
	
		}
h2 {
		font-family: myFirstFont;
		font-size: 50px;
			
		}

nav{ 
		text-align: left;
		word-spacing: 40px;
		padding-left: 45px;
		}

footer{
		text-align: center;
		padding: 1em;
		}
		
@font-face {
   font-family: myFirstFont;
   src: url(americancaptain.otf);
}

a:link {
			color: green;
			text-decoration: underline;
				}


a:visited {
			color: brown;
			text-decoration: underline; 
					}


a:hover {
			text-decoration: underline;
			font-weight: bold;
					}	


a:active {
			color: black;
			text-decoration: none;
					}